# Test Report
**Total Tests**: 6
**Passed Tests**: 6
**Failed Tests**: 0
**Skipped Tests**: 0

## Test Suite: src\__tests__\Calculator.test.js
| Test | Status | Duration |
|------|--------|----------|
| adds 1 + 2 to equal 3 | ✔️ Passed | 1ms |
| subtracts 2 - 1 to equal 1 | ✔️ Passed | N/Ams |
| subtracts 200 - 50 to equal 150 | ✔️ Passed | 1ms |
| multiplies 2 * 2 to equal 4 | ✔️ Passed | N/Ams |
| divides 4 / 2 to equal 2 | ✔️ Passed | N/Ams |
| divides 10 / 0 to equal Error | ✔️ Passed | 5ms |

## Coverage Summary
| File | % Stmts | % Branch | % Funcs | % Lines |
|------|---------|----------|---------|---------|
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\AdditionService.js | NaN% | 100.00% | NaN% | NaN% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\Caclulator.js | 100.00% | 100.00% | 100.00% | 100.00% |

