# Test Report
**Total Tests**: 15
**Passed Tests**: 14
**Failed Tests**: 1
**Skipped Tests**: 0

## Test Suite: src\__tests__\AdditionService.test.js
| Test | Status | Duration |
|------|--------|----------|
| AdditionService add 1 + 2 to equal 3 | ✔️ Passed | 6ms |
| AdditionService to throw when NaN | ✔️ Passed | 7ms |
| AdditionService add -10 + -20 to equal -30 | ✔️ Passed | 1ms |

## Test Suite: src\__tests__\Calculator.test.js
| Test | Status | Duration |
|------|--------|----------|

## Test Suite: src\__tests__\MultiplyService.test.js
| Test | Status | Duration |
|------|--------|----------|
| MultiplyService multiply 2 * 3 to equal 6 | ✔️ Passed | 7ms |
| MultiplyService to throw when NaN | ✔️ Passed | 5ms |
| MultiplyService multiply -10 * -20 to equal 200 | ✔️ Passed | N/Ams |

## Test Suite: src\__tests__\DivisionService.test.js
| Test | Status | Duration |
|------|--------|----------|
| DivideService divide 6 / 2 to equal 3 | ✔️ Passed | 5ms |
| DivideService to throw when NaN | ✔️ Passed | 5ms |
| DivideService divide -10 / -2 to equal 5 | ✔️ Passed | N/Ams |
| DivideService divide 10 / 0 to equal Error | ✔️ Passed | 1ms |

## Test Suite: src\__tests__\SubtractionService.test.js
| Test | Status | Duration |
|------|--------|----------|
| SubtractionService subtract 1 - 2 to equal -1 | ✔️ Passed | 6ms |
| SubtractionService to throw when NaN | ✔️ Passed | 4ms |
| SubtractionService subtract -10 - -20 to equal 10 | ✔️ Passed | N/Ams |

## Test Suite: src\__tests__\ConsoleViewTest.test.js
| Test | Status | Duration |
|------|--------|----------|
| displayResult is called | ✔️ Passed | 13ms |
| should take user input | ❌ Failed | 5005ms |

## Coverage Summary
| File | % Stmts | % Branch | % Funcs | % Lines |
|------|---------|----------|---------|---------|
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\Calculator.js | 100.00% | 100.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\services\AdditionService.js | 100.00% | 0.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\services\DivisionService.js | 100.00% | 0.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\services\MultiplyService.js | 100.00% | 0.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\services\SubtractionService.js | 100.00% | 0.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\views\ConsoleView.js | 37.50% | 100.00% | 66.67% | 37.50% |

