# Test Report
**Total Tests**: 8
**Passed Tests**: 8
**Failed Tests**: 0
**Skipped Tests**: 0

## Test Suite: src\__tests__\Calculator.test.js
| Test | Status | Duration |
|------|--------|----------|
| AdditionService is called | ✔️ Passed | 2ms |
| adds 1 + 2 to equal 3 | ✔️ Passed | N/Ams |
| subtracts 2 - 1 to equal 1 | ✔️ Passed | 1ms |
| subtracts 200 - 50 to equal 150 | ✔️ Passed | 3ms |
| multiplies 2 * 2 to equal 4 | ✔️ Passed | N/Ams |
| divides 4 / 2 to equal 2 | ✔️ Passed | 1ms |
| divides 10 / 0 to equal Error | ✔️ Passed | 5ms |
| divides 0 / 1 to equal Error | ✔️ Passed | N/Ams |

## Coverage Summary
| File | % Stmts | % Branch | % Funcs | % Lines |
|------|---------|----------|---------|---------|

