# Test Report
**Total Tests**: 17
**Passed Tests**: 17
**Failed Tests**: 0
**Skipped Tests**: 0

## Test Suite: src\__tests__\Calculator.test.js
| Test | Status | Duration |
|------|--------|----------|
| SubtractionServices is called | ✔️ Passed | 3ms |
| SubtractionServices returns correct value | ✔️ Passed | 1ms |
| AdditionServices is called | ✔️ Passed | 1ms |
| AdditionServices returns correct value | ✔️ Passed | N/Ams |
| adds 1 + 2 to equal 3 | ✔️ Passed | N/Ams |
| subtracts 2 - 1 to equal 1 | ✔️ Passed | N/Ams |
| subtracts 200 - 50 to equal 150 | ✔️ Passed | 1ms |
| multiplies 2 * 2 to equal 4 | ✔️ Passed | 1ms |
| divides 4 / 2 to equal 2 | ✔️ Passed | 1ms |
| divides 10 / 0 to equal Error | ✔️ Passed | 6ms |
| divides 0 / 1 to equal Error | ✔️ Passed | 1ms |

## Test Suite: src\__tests__\SubtractionService.test.js
| Test | Status | Duration |
|------|--------|----------|
| SubtractionService subtract 1 - 2 to equal -1 | ✔️ Passed | 2ms |
| SubtractionService to throw when NaN | ✔️ Passed | 5ms |
| SubtractionService subtract -10 - -20 to equal 10 | ✔️ Passed | 1ms |

## Test Suite: src\__tests__\AdditionService.test.js
| Test | Status | Duration |
|------|--------|----------|
| AdditionService add 1 + 2 to equal 3 | ✔️ Passed | 1ms |
| AdditionService to throw when NaN | ✔️ Passed | 4ms |
| AdditionService add -10 + -20 to equal -30 | ✔️ Passed | N/Ams |

## Coverage Summary
| File | % Stmts | % Branch | % Funcs | % Lines |
|------|---------|----------|---------|---------|
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\AdditionService.js | 100.00% | 0.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\Calculator.js | 100.00% | 0.00% | 100.00% | 100.00% |
| C:\Users\erikw\courses\1dv609\1dv609-A1-part-2\src\SubtractionService.js | 50.00% | 100.00% | 0.00% | 50.00% |

