# Test Report
**Total Tests**: 5
**Passed Tests**: 3
**Failed Tests**: 2
**Skipped Tests**: 0

## Test Suite: src\__tests__\Calculator.test.js
| Test | Status | Duration |
|------|--------|----------|
| adds 1 + 2 to equal 3 | ✔️ Passed | 1ms |
| subtracts 2 - 1 to equal 1 | ✔️ Passed | N/Ams |
| subtracts 200 - 50 to equal 150 | ✔️ Passed | N/Ams |
| multiplies 2 * 2 to equal 4 | ❌ Failed | 2ms |
| divides 4 / 2 to equal 2 | ❌ Failed | 1ms |

